<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mayur1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>db.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginMenu</display-name>
    <servlet-name>LoginMenu</servlet-name>
    <servlet-class>db.LoginMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginMenu</servlet-name>
    <url-pattern>/LoginMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>db.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovServlet</display-name>
    <servlet-name>ApprovServlet</servlet-name>
    <servlet-class>db.ApprovServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovServlet</servlet-name>
    <url-pattern>/ApprovServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctor</display-name>
    <servlet-name>Doctor</servlet-name>
    <servlet-class>db.Doctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctor</servlet-name>
    <url-pattern>/Doctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPre</display-name>
    <servlet-name>UploadPre</servlet-name>
    <servlet-class>db.UploadPre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPre</servlet-name>
    <url-pattern>/UploadPre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Medical</display-name>
    <servlet-name>Medical</servlet-name>
    <servlet-class>db.Medical</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Medical</servlet-name>
    <url-pattern>/Medical</url-pattern>
  </servlet-mapping>
</web-app>